.head nav {
  width: 100%;
  height: 40px;
  background-color: black;
  position: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  gap: 90px;
  padding: 20px;
  z-index: 5;
}

.head nav a {
  color: white;
  text-decoration: none;
  border: 1px solid black;
  margin: 5px;
}

.head nav a:nth-child(2)::after {
  content: ' ';
  display: block;
  width: 140px;
  border-bottom: 5px solid #c00505;
  margin: 28px 0px;
}

.top {
  width: 960px;
  height: 100px;
  margin: 150px 0px 30px;
}

.top h1 {
  color: black;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.top h1::after {
  content: ' ';
  border-bottom: 4px solid black;
  width: 30px;
  display: block;
  margin: 20px 470px;
}

.feature {
  width: 960px;
  height: 150px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature a {
  text-decoration: none;
  color: black;
  border: 1px dotted grey;
  padding: 10px 55px;
  border-bottom: 3px solid #c00505;
}

.all {
  width: 960px;
  overflow: hidden;
  margin: auto;
}

.container1,
.container3 {
  width: 960px;
  height: 820px;
  margin: auto;
  position: relative;
}

.slogan1_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slogan1 {
  width: 350px;
  height: 390px;
  color: white;
  display: inline-block;
  z-index: 1;
}

.slogan1_title {
  width: 100%;
  height: 30%;
  background-color: #c00505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slogan1_title h2 {
  font-size: 90px;
  font-weight: lighter;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
  margin: 10px 0px;
}

.slogan1_title h3 {
  font-size: 50px;
  display: inline-block;
  margin: 20px 0px 0px;
}

.slogan1_content {
  width: 100%;
  height: 70%;
  background-color: black;
}

.slogan1_content h4 {
  font-size: 25px;
  display: inline-block;
  margin: 10px;
}

.slogan1_content p {
  font-size: 22px;
  margin: 10px;
}

.car_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car_img img {
  position: absolute;
  top: 120px;
  left: 200px;
}

img.icon {
  margin: 180px 650px;
}

.grey1 {
  width: 440px;
  height: 290px;
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 20px 0px;
}

.description1 {
  width: 680px;
  height: 280px;
  background-color: #EEEEEE;
  position: relative;
  bottom: -120px;
  left: 60px;
  padding: 15px;
}

.d_title {
  font-size: 20px;
  font-weight: bold;
  color: #c00505;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d_title::after {
  content: ' ';
  border-bottom: 1px solid #c00505;
  width: 25px;
  height: 3px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inline-block;
}

.point {
  color: white;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10%;
  background-color: black;
  margin: 5px;
}

.d_content1 {
  margin: 5px 25px;
  color: #7e7d7d;
  font-weight: bold;
}

li {
  list-style: none;
}

.d_content1 li::before {
  content: "\2022";
  color: #c00505;
  padding: 5px;
}
/*# sourceMappingURL=style_1.css.map */