@media screen and (min-width: 768px) {
    
    .navbar-nav{
        background-color: transparent;
        width: 100%;
        text-align: center;
    }

    .nav-item{
        color: white;
    }



} 