.head {
  position: relative;
}

.logo img {
  position: absolute;
  width: 40px;
  top: 25px;
  left: 20px;
}

.head nav {
  background-color: white;
  opacity: .95;
  height: 60px;
  width: 100%;
  position: fixed;
  border: 1px solid #f6f7f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  z-index: 1;
}

.head nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 20px 20px;
}

.head nav a:first-child {
  border-bottom: 4px solid black;
  margin: 0 0 10px 0;
}

.language img {
  position: absolute;
  width: 15px;
  top: 25px;
  right: 45px;
}

.language p {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.banner {
  height: 700px;
  background-image: url(Images/banner01.jpg);
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content h1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
  margin: 25px 100px;
}

.content h2 {
  font-size: 30px;
  color: white;
  margin: 25px 100px;
}

.lifeconcept h3,
.socialconcept h3 {
  font-size: 50px;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
  padding: 50px;
}

.socialconcept {
  width: 100%;
  background-color: #f6f7f8;
  height: 200px;
}

.serviceconcept {
  width: 100%;
  height: 200px;
  display: block;
  background-color: #f6f7f8;
}

.serviceconcept h3 {
  font-size: 50px;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
  padding: 80px;
}

.lifeconcept p {
  color: #616161;
  text-align: center;
  margin: auto auto 200px;
}

.socialconcept p {
  color: #616161;
  text-align: center;
  margin: auto auto 50px;
}

.container_LifeOnLine {
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container_social {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6f7f8;
  background-size: 100%;
}

.container_products {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6f7f8;
  position: relative;
  padding-bottom: 100px;
}

.life_content {
  width: 480px;
  height: 500px;
  border: 1px solid white;
  margin: 20px auto;
  padding: 0 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.life_content img {
  width: 100px;
}

.life_pic img {
  width: 100%;
  height: 100%;
}

.life_content h4 {
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
}

.greenconcept {
  font-size: 14px;
  color: #07b53b;
  font-weight: bold;
  margin-bottom: 12px;
}

.description p {
  font-size: 14px;
  font-weight: bold;
  color: #777;
  margin-bottom: 55px;
}

.info {
  display: inline-block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 10px;
}

.info img {
  width: 20px;
  position: relative;
  top: 3px;
}

.info p {
  font-size: 10px;
  font-weight: bold;
  color: #1e1e1e;
  display: inline-block;
}

/* .apple{
            display: inline-block;
            flex-wrap: wrap;
        }
        .apple img{
            width: 20px;
            display: inline;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .google{
            display: inline-block;
            flex-wrap: wrap;
        }

        .google img{
            width: 20px;
            display: inline;
            border: 1px solid #ccc;
            padding: 10px;
        } */
.social_section {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 150px;
}

.social_content {
  width: 320px;
  border: 1px solid #f6f7f8;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.social_content img {
  width: 100%;
}

.social_content h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.s_description p {
  font-size: 14px;
  color: #616161;
  text-align: center;
  margin: 20px;
}

.companyservice {
  background-image: url(Images/Company_Service.png);
  background-size: 100%;
  height: 210px;
}

.companyservice h3 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 100px;
}

.allproducts_menu {
  width: 240px;
  height: 100%;
  border: 1px solid #f6f7f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.allproducts_menu a {
  text-decoration: none;
  color: rgba(30, 30, 30, 0.7);
  font-size: 13px;
  display: inline-block;
  margin: 5px 50px;
  padding: 10px;
  border: 1px solid rgba(30, 30, 30, 0.7);
  border-radius: 50px;
}

.whole_section {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto 150px;
}

.all_items {
  width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items {
  width: 210px;
  height: 280px;
  background-color: white;
  border: 1px solid white;
  margin: 15px 15px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 15px #b3b3b3;
          box-shadow: 5px 5px 15px #b3b3b3;
  position: relative;
}

.items img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

.items h4 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

.items p {
  font-size: 12px;
  font-weight: bold;
  color: #616161;
  padding: 5px 0;
}

.bottom_connect,
footer {
  width: 960px;
  height: 100px;
  display: inline-block;
  border: 1px solid white;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 50px 10px 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.bottom_connect li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.line_img {
  display: inline-block;
  margin: 5px;
}

.line_img img {
  width: 30px;
}

.small_icon a {
  text-decoration: none;
  color: black;
}

.small_icon img {
  width: 15px;
}

.small_icon::after {
  content: ' | ';
  display: block;
  margin: 0 5px;
}

.qr_code img {
  width: 80px;
  position: absolute;
  top: -50px;
  right: -100px;
}

.qr_code p {
  font-size: 8px;
  color: #616161;
  position: absolute;
  top: 40px;
  right: -100px;
}

hr {
  width: 960px;
  color: #f6f7f8;
}

footer {
  position: relative;
}

footer li {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
}

footer li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

footer li:nth-child(2)::after,
footer li:nth-child(3)::after,
footer li:nth-child(4)::after {
  content: ' | ';
  display: block;
  margin: 0 5px;
}

img.sns_y {
  width: 25px;
  position: absolute;
  right: -100px;
}

img.sns_f {
  width: 20px;
  position: absolute;
  right: -140px;
}
/*# sourceMappingURL=style.css.map */