@media screen and (max-width: 812px) {
  .head {
    width: 100%;
    position: relative;
  }
  .head nav {
    position: absolute;
    top: 200px;
    border: none;
    border-bottom: 1px solid #f6f7f8;
  }
  .head nav .logo,
  .head nav .language {
    display: none;
  }
  .head nav a:first-child {
    margin: 0px;
  }
  .banner {
    width: 100%;
    height: 100%;
    background-image: url(Images/banner02.jpg);
  }
  .content h1 {
    font-size: 30px;
    margin: 25px 80px;
  }
  .content h2 {
    display: none;
  }
  .lifeconcept h3 {
    display: none;
  }
  .lifeconcept p {
    margin: 50px 20px 100px;
  }
  .life_content {
    width: 100%;
    margin: 50px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .life_content:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .life_content:nth-child(odd) img.life_pic {
    display: inline-block;
    width: 150%;
  }
  .life_content:nth-child(even) img.life_pic {
    display: inline-block;
    width: 150%;
  }
  .life_content::before {
    display: none;
  }
  .life_content:last-child::after {
    display: none;
  }
  .container_LifeOnLine::after {
    left: 10%;
  }
  .life_content .life_text {
    width: 100%;
    padding: 0px 50px;
    position: relative;
  }
  .life_content .life_text p {
    margin-bottom: 5px;
  }
  .life_content .life_text:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .life_content:nth-child(odd) .life_text:last-child {
    position: relative;
    top: 0px;
    left: 20%;
  }
  .life_content:nth-child(even) .life_text:last-child {
    position: relative;
    top: -25px;
    right: 20%;
  }
  .companyservice {
    height: 60px;
  }
  .companyservice h3 {
    padding: 20px;
  }
  .allproducts_menu {
    display: none;
  }
  .all_items {
    width: 100%;
    position: relative;
  }
  .items {
    width: 100%;
    height: 100px;
    background-color: #f6f7f8;
    margin: 15px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .items img {
    width: 70px;
    height: 70px;
    padding: 5px;
  }
  .items h4 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    display: inline;
    position: relative;
    left: 20px;
    width: 100%;
  }
  .items p {
    font-size: 12px;
    font-weight: bold;
    color: #616161;
    padding: 5px 0;
    position: absolute;
    top: 40px;
    left: 110px;
  }
  .bottom_connect,
  footer {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid white;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: auto;
  }
  .bottom_connect li {
    display: none;
  }
  .line_img {
    display: none;
  }
  .qr_code img {
    display: none;
  }
  .qr_code p {
    font-size: 6px;
    color: #616161;
    position: absolute;
    top: 140px;
    right: 260px;
    border: 1px solid #cfcdcd;
    padding: 5px;
    border-radius: 5%;
  }
  hr {
    display: none;
  }
  footer {
    position: relative;
  }
  footer li {
    width: 100%;
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 10px;
    position: relative;
    top: -100px;
  }
  footer li a {
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: 40px;
    left: -80px;
  }
  footer li:nth-child(2)::after,
  footer li:nth-child(3)::after,
  footer li:nth-child(4)::after {
    position: relative;
    top: 40px;
    left: -80px;
  }
  img.sns_y {
    right: 325px;
    top: 0px;
  }
  img.sns_f {
    right: 285px;
    top: 0px;
  }
}
/*# sourceMappingURL=style_for_RWD.css.map */